# APP
PORT=8000
ENV=development
PROJECT_NAME=
DOCKER_NETWORK_NAME=
GITHUB_USERNAME=
GRAPHQL_PLAYGROUND_ROUTE=
GRAPHQL_GENERAL_ROUTE=

# DB
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DATABASE_URL=
MIGRATIONS_DIR="db/migrations"
